name: Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: default

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        # submodules handled by make build

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Build project
        run: |
          make build
          forge remappings

      - name: Build documentation
        run: forge doc --build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./docs/book
